# dependencies
/node_modules

# test reports
/test-reports

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*
.env.*.local


# typescript
*.tsbuildinfo
next-env.d.ts

# jest
/coverage/

# Tesseract OCR language data (downloaded at runtime)
*.traineddata

# IDEs and editors
.vscode/
.DS_Store

docs-assets/
deploy/